[submodule "libpicofe"]
	path = libpicofe
	url = https://github.com/bopeng0825/libpicofe.git
	branch = main
[submodule "libretro-common"]
	path = libretro-common
	url = https://github.com/libretro/libretro-common
